.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
}

.weather-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
}

.submit-button {
  align-self: flex-end;
}
